<footer class="site-footer">
    <p>&copy; 2026 Neo Tokyo Kitchen</p>
    

    <nav aria-label="Sidfotsmeny">
        <ul class="footer-links">
            <li><a routerLink="/accessibility">Tillgänglighetsredogörelse</a></li>
            <li><a routerLink="/privacy">Integritetspolicy</a></li>
            <li><a routerLink="/image-credits">Bildkällor</a></li>
            <li><a routerLink="/contact">Kontakt</a></li>
            <li><a routerLink="/admin/login">Personal</a></li>
        </ul>
    </nav>

    <div class="social-links" aria-label="Sociala medier">
        <a href="#" aria-label="Facebook">
            <iconify-icon icon="mdi:facebook"></iconify-icon>
        </a>

        <a href="#" aria-label="Instagram">
            <iconify-icon icon="mdi:instagram"></iconify-icon>
        </a>
    </div>

</footer>